*{
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #2b2b2b;
    font-family: 'Poppins', sans-serif;
}

.logo a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    transition: ease 0.3s;
}

.logo a:hover {
    cursor:pointer;
    color:cyan;
    text-shadow: 2px 2px 2px blue;
    transition: ease 0.3s;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: aliceblue;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: ease 0.5s;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
    
}
.nav-links a:hover {
    color:cyan;
    background-color:midnightblue;
    transition: ease 0.3s;
}

.burger {
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: aliceblue;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: #3a3a3a;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}