@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
*{
    margin: 0;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgba(33, 33, 33, 0.98);
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    top: 0;
    position:fixed;
    z-index: 99;
}

.logo a{
    text-decoration: none;
    color:cyan;
    text-shadow: 2px 2px 2px blue;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    transition: ease 0.3s;
}

.logo a:hover {
    cursor:pointer;
    color:blue;
    text-shadow: 1px 1px 1px cyan;
    transition: ease 0.3s;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: aliceblue;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: ease 0.5s;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
}
.nav-links a:hover {
    color:cyan;
    background-color:midnightblue;
    transition: ease 0.3s;
}

.burger {
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: aliceblue;
    margin: 5px;
    transition: all 0.3s ease;
}

.top{
    background-color: #181818;
    scroll-behavior: smooth;
}
.header{
    /* margin-top: 10vh; */
    padding: calc(10vh + 8rem) 4rem 8rem 4rem;
    
}

#header-title{
    color:turquoise;
    /* padding: 1.5em 1em 1.5em 1em; */
    font-size: 6rem;
    line-height: 1;
    letter-spacing: 0em;
    font-weight: 600;
    font-family: 'Lalezar', cursive;
}
#header-text{
    color: thistle;
    font-family: 'Gochi Hand', cursive;
    font-size: 2.5rem;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    /* background-color:rgba(33, 33, 33, 0.98); */
    background-color: black;
}
.info-pic{
    width: 35vw;
    height: 35vw;
    /* margin: 10vh 0 10vh 0; */
    /* background-color: aquamarine; */
}
.info-pic img{
    max-width: 35vw;
    max-height: 35vw;
}
.info-text{
    width: 45vw;
    height: fit-content;
    background-color:rgb(48, 48, 48);
    padding: 20px;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}
.info-text h1{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 10px;
}
.info-text p{
    margin-bottom: 15px;
}
.info-text .bold{
    font-weight: bold;
}
.info-text ul{
    list-style: none;
    padding: 0;
}
.info-text ul li{
    display: flex;
    flex-wrap: wrap;
}
.info-text ul li:not(:last-child){
    margin-bottom: 10px;
}
.info-text ul li:last-child{
    margin-bottom: 25px;
}
.info-text ul .email{
    text-decoration: none;
    color: whitesmoke;
}
.info-text ul .email:hover{
    color:deepskyblue;
}

.info-text .socials{
    display: flex;
    align-items: center;
}
.info-text .socials a{
    margin-left: 10px;
    height: 48px;
}
.info-text .socials a:hover{
    box-shadow: 0 0 3px whitesmoke;
}
@media screen and (max-width:1200px){
    .info-pic{
        width: 40vw;
        height: 40vw;
    }
    .info-pic img{
        max-width: 40vw;
        max-height: 40vw;
    }
    .info-text{
        width: 40vw;
        height: fit-content;
    }
}

@media screen and (max-width:1024px){
    .nav-links {
        width: 50%;
    }
    .info-pic{
        width: 40vw;
    }
    .info-text{
        width: 40vw;
        height: fit-content;
    }
    .info-pic img{
        max-width: 40vw;
        max-height: 40vw;
    }
}

@media screen and (max-width:768px){
    .wrapper{
        max-width: 768px;
        min-height: 100vh;
        position: relative;
        overflow-x: hidden !important;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: #3a3a3a;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }

    #header-title{
        font-size: 3rem;
    }
    #header-text{
        font-size: 1.5rem;
    }
    .info-pic{
        width: 100vw;
        height: 100vw;
        order: 2;
    }
    .info-text{
        width: 80vw;
        height: fit-content;
        order: 1;
        margin-bottom: 10vh;
    }
    .info-pic img{
        max-width: 100vw;
        max-height: 100vw;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}



